.app{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.todo-header{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.todo-check-add{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.todos{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 25px;
}

.column{
  flex: 1 1 calc(33.33% - 20px);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-bottom{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.ant-card-body {
  overflow-y: auto;
  height: 100%;
}

.ticket-drawer-category{
  display: flex;
}

.ant-drawer-content-wrapper{
  width: 700px !important;
}

.app-header-title{
  display: flex;
  align-items: center;
  gap: 10px;
}


.ant-card-body .todo-status{
  background-color: white;
  border-radius: 8px;
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: rgb(228, 228, 228);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  /* box-shadow: inset 0 0 6px rgba(9, 5, 19, 0.425); */
  box-shadow: inset 0 0 6px #bebebe;
}